<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="descriptison" content="Feast For Friends Project">
  <meta name="keywords" content="">
  <meta name="author" content="Ali Al-Adhami">
  <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Feast For Friends</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../vendor_assets/aos/aos.css" rel="stylesheet">
  <link href="../../vendor_assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../vendor_assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../vendor_assets/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../vendor_assets/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../vendor_assets/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../css/style.css" rel="stylesheet">
  <link href="../css/project_detail.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between" data-aos="fade-down"
        data-aos-duration="700" data-aos-easing="linear">
        <div class="name-logo">
            <h1 class="text-light"><a href="https://ali-aladhami.com"><span>Ali Al-Adhami</span></a></h1>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="navbar_link scrollto active" href="#landing">Home</a></li>
                <li><a class="navbar_link scrollto" href="#about">About Me</a></li>
                <li><a class="navbar_link scrollto" href="#skills">Skills</a></li>
                <li><a class="navbar_link scrollto" href="#portfolio">Portfolio</a></li>
                <li><a class="navbar_link scrollto" href="#exp">Experience</a></li>
                <li><a class="navbar_link scrollto" href="#footer">Contact Me</a></li>
                <li><a class="navbar_link scrollto" href="https://blog.ali-aladhami.com/">Blog</a></li>
                <li><a class="get-started scrollto" href="#footer">Hire Me</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Feast For Friends</h2>
          <ol>
            <li><a href="https://ali-aladhami.com">Home</a></li>
            <li><a href="https://ali-aladhami.com#portfolio">Portfolio</a></li>
            <li>Project Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="project-img">
              <img src="../../img/FFF.png" alt="">
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->


  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

  <!-- Vendor JS Files -->
  <script src="../../vendor_assets/aos/aos.js"></script>
  <script src="../../vendor_assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../vendor_assets/glightbox/js/glightbox.min.js"></script>
  <script src="../../vendor_assets/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../vendor_assets/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../js/main.js"></script>

</body>

</html>